body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: #636b6f;
  background-color: #f5f8fa;
}

.active {
  background: #acc;
}

.navbar-default {
  background-color: #acc;
}

.logout_style{
  display: block;
  margin-top: 13px;
}

.nav_icons{
  display: block;
  margin-left: 10%;
}

.nav_icons div{
  padding: 0.5% 1.5% 0.5% 1.5%;
  border-bottom: 1.5px solid #acc;
  display: inline-block;
}

.nav_icons div img, .nav_icons_back div img{
  width: 23px;
}

.nav_icons div:hover{
  cursor: pointer;
  background-color: #acc;
}

.nav_icons_back {
  display: flex;
  margin-top: 10px;
  margin-bottom: 40px;
  justify-content: center;
  color: initial;
  width: 100%;
}

.nav_icons_back div{
  margin: 1px;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  padding: 5px;
  height: 35px;
}

.nav_icons_back div:hover{
  background: white;
  cursor: pointer;
  color: initial;
}

.homeDocente {
  position: absolute;
  display:grid;
  grid-template-columns: auto auto;
  grid-gap: 20px 20px;
  margin: 30px;
  left: 5%;
}

.divDisciplinas{
  width: auto;
  background: #eee9e9;
  height: auto;
  position: relative;
  padding: 5px;
}

.disciplina{
  width: auto;
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px 20px;
  margin: 15px;
}

.disciplina div{
  height: auto;
  background: #acc;
  padding: 20px;
  text-align: center;
  opacity: 0.8;
}

.flex-projetos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: #E9E0DF;
}

.divGrupos{
  width: auto;
  background: #eee9e9;
  height: auto;
  position: relative;
  padding: 5px;
}

.grupo{
  width: auto;
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px 20px;
  margin: 15px
}

.grupo div{
  height: auto;
  background: #acc;
  padding: 15px;
  text-align: center;
  opacity: 0.8;
}

li a:hover {
  color: black;
  text-decoration: underline;
}

.model-content {
  width: 400px;
  height: auto;
  background-color: white;
  border: 2px solid #acc;
  border-radius: 4px;
  align-self: center;
  text-align: center;
  margin: auto;
  padding: 20px 0 20px 0;
  display: none;
  position: absolute;
  top: 275px;
  left: 10px;

}

.model-content h4 {
  display: inline;
}


input{
  width: 90%;
  display: block;
  margin: 15px auto;
}

.close{
  position: relative;
  display: inline;
  right: 14px;
  top: -14px;
  font-size: 30px; 
  cursor: pointer;
}

.container-flex {
  display: flex;
  margin: 0;
  margin-top: -22px;
}

.left-pane-bg {
  position: absolute;
  background-color: #acc;
  width: 25%;
  height: 100%;  
  z-index: -1;
}

.flex-left {
  flex: 25%;
  background-color: #acc;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  align-items: center;
}

#esq{

}

.flex-right {
  display: flex;
  flex-direction: column;
  flex: 75%;
  justify-content: center;
  padding-top: 3rem;
  padding: 3rem 10px 0 10px;
}

.flex-left .back {
  margin-bottom: 25px;
  font-size: 16px;
}

.flex-right-header {
  display: flex;
  flex: 100%;
}

.flex-right h2, .flex-right-header h2 {
  align-self: flex-start;
  padding-bottom: 10px;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  margin-left: 410px;
  border-bottom: 3px solid #acc;
  
}

.flex-right1 {
  display: flex;
  flex-direction: column;
  flex: 75%;
  justify-content: center;
  padding-top: 3rem;
  padding: 3rem 10px 0 10px;
}


.flex-right1 h2, .flex-right-header1 h2 {
  align-self: flex-start;
  padding-bottom: 10px;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  margin-left: 565px;
  border-bottom: 3px solid #acc;
  
}

.flex-right-header1 {
  display: flex;
  flex: 100%;
}


.flex-right-header1 h3 {
  flex: 50%;
  text-align: right;
  margin: 0;
  font-size: 18px;
  margin-right: 200px;
  margin-top: 56px;
  position: absolute;
  right: 260px;
  font-size: 18px;

}

.flex-right-header1 h3 * {
  color: #acc;
}

.flex-right-header1 h3 a:hover {
  color: #636b6f;
  text-decoration: underline;
}



.flex-right-header h3 {
  flex: 50%;
  text-align: right;
  margin: 0;
  font-size: 18px;
  margin-right: 200px;
  margin-top: 56px;
  position: absolute;
  right: 260px;
  font-size: 18px;

}

.flex-right-header h3 * {
  color: #acc;
}

.flex-right-header h3 a:hover {
  color: #636b6f;
  text-decoration: underline;
}

.flex-right-container {
  align-self: center;
  display: flex;
  flex-direction: column;
  flex: 100%;
  background: #eee9e9;
  width: 100%;
}

.flex-right-container h4 {
  align-self: center;
  padding-top: 0px;
}

.flex-right-footer {
  display: flex;
  align-content: flex-end;
  margin-right: 50px;
}

.feedback-footer{
  display: flex;
  align-content: flex-end;
  margin-right: 80px;

}

.feedback-footer .feedback-icon {
 
  margin-right: 60px;
}

.flex-right-footer .footer-icon{
  margin-right: 70px;
}

.projeto {
  display: flex;
  flex: 1;
  border: 3px ridge #acc;
  margin: 10px 20px 10px 20px;
  min-height: 120px;
  text-align: left;
  color: #222;
  padding: 0 10px 10px 10px;
  flex-direction: column;
}

.flex-right-footer {
  display: flex;
  align-content: flex-end;
  margin-right: 50px;
}

.projeto {
  display: flex;
  flex: 1;
  flex-direction: column;
  border: 3px ridge #9b9b9b;
  margin: 10px 20px 10px 20px;
  height: 120px;
  max-height: 120px;
  width: 80%;
  text-align: left;
  color: #222;
  padding: 0 10px 10px 10px;
}

.projeto h4 {
  padding: 0;
  text-align: center;
}

.projeto p {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.projetosLabels {
  font-weight: bold;
}

.projetosLabels ~ a:hover{
  color: black;
  text-decoration: underline;
}

#dropAdd {
	position: absolute;
	background-color: white;
	box-shadow: 0px 0px 4px 1px #00000052;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-top: 90px;
}

#dropAdd a{
  display: block;
  padding-right: 40px;
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  vertical-align: middle;
}

#dropAdd i{
  padding-right: 20px;
  
}


#btnAdd {
	padding-left: 15px ;
	padding-right: 15px ;
	padding-top: 5px ;
	padding-bottom:6px ;
	border-radius: 30px;
	border: none;
  color: initial;
}

#btnAdd img {
  height: 18px;
  width: auto;
}

#btnAdd span{
	padding-left: 8px;
	display: inline-block;
	vertical-align: middle;
	font-size: 15px;
}

#dropAdd span{
	display: block;
	padding-right: 60px;
	padding-left: 60px;
	padding-top: 5px;
	padding-bottom: 5px;
  color: initial;
}

#dropAdd span:hover{
	cursor: pointer;
	background-color: #e5e5e5;
}

.nav_disciplina{
  display: flex;
  justify-content: space-around;
}

.nav_disciplina div{
  padding: 0.5% 1.5% 0.5% 1.5%;
  border-bottom: 1.5px solid #acc;
  border-right: 1.5px solid #acc;
  flex: 100%;
}

.nav_disciplina div:hover{
  background: #acc;
  cursor: pointer;
}

.showGrupos {
  align-self: flex-end;
  margin-top: auto;
  border-color: #acc;
  border-radius: 2px;
  border-style: solid;
}

.showGrupos:hover {
  background-color: #acc;
  border-color: #9b9b9b;
}

.flex-left-links {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.flex-left-icon {
  width: 30px;
  margin-right: 10px;
}

.addBtn-row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.addBtn {
  align-self: center;
  color: #222;
  border-color: #acc;
  border-radius: 2px;
  border-style: solid;
  padding: 5px 20px 5px 20px;
  margin: 0 10px;
}

.addBtn:hover {
  background-color: #acc;
}

#grupos {
  padding: 10px;
}

#tableShowGrupos {
  border: 1px solid grey;
}

#tableShowGrupos i {
  cursor: pointer;
}

@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

.botao_projetos{
  align-self: center;
  position: fixed;
  left: 100px;
  top: 110px;
  z-index: 0;
  color: #245269;
  border-radius: 20px;
  border-style: solid;
  padding: 8px 40px 5px 40px;
}

.botao_projetos:hover {
  background-color: white;
  color: #000;
}

.popup{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.popupadd{
  width: 200px;
  height: 150px;
  background-color: white;
  opacity: 1;
  border-radius: 4px;
  text-align: center;
  position: relative;
  top: 130px;
  left: 90px;
  z-index: auto;
  opacity: 0.6;
}

.footer-icon {
  background-color: #555;
  color: white;
  padding: 14px 14px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 40px;
  width: 60px;
}

.feedback-icon {
  background-color: #555;
  color: white;
  padding: 14px 14px;
  border-radius: 60px;
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  left: 450px;
  width: 60px;
}




.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  left: 500px;
 
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 15px;
  background-color: #acc;
  border-radius: 10px;
  height: 430px;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 9px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
  position: relative;
    top: 62px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #133d55;
  color: white;
  padding: 7px 20px;
  border: none;
  cursor: pointer;
  width: 80%;
  margin-left: 30px;
  margin-bottom: 5px;
  opacity: 0.8;
  border-radius: 80px;
  position: absolute;
  top: 252px;
  left: 4px;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: #133d55;
}

#btgrupos{
  background-color: #133d55;
  color: white;
  padding: 6px 20px;
  border: none;
  cursor: pointer;
  width: 80%;
  position: relative;
  bottom:50px;
  margin-left: 30px;

  opacity: 0.8;
  border-radius: 80px;
}

#btgrupos:hover{
  opacity:1;
}

#btgrupoDocente{
  background-color: #133d55;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  position: relative;
  padding: 7px 5px;
  
 

  opacity: 0.8;
 

}


#btgrupoDocente:hover{
  opacity:1;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.chat_name{
  position: relative;
  top: -30px;
  text-align: center;
}

.forumDuvidas_btn{
  top:5px;
}

.forumDuvidas_btn:hover{
  cursor: pointer;
}

.forumDuvidas {
  padding: 10px;
}

.tableGrupos{
  position: relative;
  border-collapse: collapse;
  width: 100%;
  margin: auto;  
  text-align: center;
}

.tableGrupos tr:nth-child(even){background-color: #f2f2f2}

.tableGrupos td {
  padding: 8px;
  border-bottom: 1px solid grey;
}

.tableGrupos a {
  cursor: pointer;
  text-decoration: underline;
}

.tableGrupos th {
  background-color: #acc;
  color: initial;
  padding: 8px;
  text-align: center;
}

.breadcrums {
  color: initial;
  cursor: pointer;
}

.div_button{
  /*! height: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
}

#add_button{
  width: auto;
  height: 33px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: #616161;
  background-color: #f5f8fa;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-bottom: 10px;
}

#add_button:hover {
  background-color: #acc;
  box-shadow: 0px 15px 20px rgba(170, 204, 204, 0.36);
  transform: translateY(-7px);
}

#forum {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#forum p {
  width: 100%;
}

#forum .div_button {
  align-self: center;
}

#topicoModal {
  z-index: 2;
  position: absolute;
  margin: auto;
  align-self: center;
}


/* CHAT */

.user-wrapper, .message-wrapper{
  border: 1px solid #dddddd;
  overflow-y: auto;
}
.user-wrapper{
  display: none;
  position: fixed;
  height: 400px;
  width: 350px;
  z-index:99999;
  background-color: #eee9e9;
  right: 100px;
  bottom: 10px;
}
.user{
  cursor: pointer;
  padding: 5px 0 ;
  position: relative;
}
.user:hover{
  background: #eeeeee;
}
.user:last-child{
  margin-bottom: 0;
}
.pending{
  position: absolute;
  left: 5px;
  top:17px;
  background: #acc;
  margin: 0;
  border-radius: 50%;
  width:18px;
  height: 16px;
  line-height: 18px;
  padding-left: 5px;
  color: #ffffff
}
.media-left{
  margin:0 10px;
}
.media-left img{
  width: 64px;
  border-radius: 64px;
}
.media-body{
  margin: 6px 0;
}
.message-wrapper{  
  padding: 10px;
  height: 400px;
  width: 350px;
  position: fixed;
  right: 460px;
  bottom: 10px;
  background: #eeeeee;
  z-index: 999999;
  display: none;
}
.messages, .message{
  margin-bottom: 15px;
}
.messages .message:last-child{
  margin-bottom: 0;
}
.recieved, .sent{
  width: 45%;
  padding: 3px 10px;
  border-radius: 20px;
}
.recieved{
  background:#acc;
  float: left;
  text-align: left;
  width: auto;
}
.sent{
  background:white;
  float:right;
  text-align: right;
  width: auto;
}
.message p {
  margin: 5px 0;
}
.date{
  color: #777777;
  font-size: 12px;
}
.active{
  background: #eeeeee;
}

.input-text {
  position: fixed;
  bottom: 0%;
  margin-bottom: 15px;
}

.writeMessage {  
  width: 280px;
  padding: 5px 5px;
  margin: 0px 12px -19px 0;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #cccccc;
}

.writeMessage:focus{
  border: 1px solid #aaaaaa;
}

.sendMessageIcon {
  margin: -8px 0px 9px 295px;}

.sendMessageIcon:hover {
  opacity: 0.8;
  cursor: pointer;
}

ul{
  margin: 0;
  padding: 12px;
}
li{
  list-style: none;
}


.nav_chat{
  position: fixed;
    width: 340px;
    height: 45px;
    background: #acc;
    z-index: 999;
}

.nav_chat p{
  text-align: center;
  font-size: 15px;
}

/* popup Projetos Docente */

.popupDiv input{
	padding:8px;
  margin-bottom: 15px;
  width: 195px;
}

.popupDiv select{
	padding:8px;
  margin-bottom: 15px;
  margin-left: 10px;
  width: 195px;
}
.popupDiv button{
	padding:8px;
	margin-bottom: 10px;
}

.popupDiv{
  background-color: white;
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 30%;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 60px;
  padding-right: 60px;
  z-index: 9999;
}

.popupDiv h4{
  font-size: 16px;
  margin-bottom: 25px;
}

.closebtn{
  position: absolute;
  right: 7px;
  top: 7px;
  width: 12px;
}

.closebtn:hover{
  cursor: pointer;
}


/* Feedback Docente */


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 80px;
  border: 1px solid #888;
  width: 30%;
}

/* The Close Button */
.closef {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -20px;
}

.closef:hover,
.closef:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


/* checkbox style */


.containerCheckbox {
  margin-left: 10px;
  margin-bottom: 0px;
	display: block;
	position: relative;
	padding-left: 37px;
	cursor: pointer;
	font-size: 18px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
  user-select: none;
  
}
  
.containerCheckbox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
  
.containerCheckbox .checkmark {
	position: absolute;
	top: 5px;
	left: 0;
	height: 20px;
	width: 20px;
	background: none;
  border: 1px solid grey;
  border-radius: 50%;
}
  
.containerCheckbox:hover input ~ .checkmark {
	background-color: rgba(158, 158, 158, 0.514);
}

.containerCheckbox input:checked ~ .checkmark {
	background: none;
}
  
.containerCheckbox .checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
  
.containerCheckbox input:checked ~ .checkmark:after {
	display: block;
}
  
.containerCheckbox .checkmark:after {
  left: 5px;
  top: 0px;
  width: 8px;
  height: 15px;
	border: solid #acc;
	border-width: 0 4px 4px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}




/* Página Informação Grupos Para Docente */

.grupos_info h1{
  text-align: center;
  

}

.grupos_info p{
  text-align: center;
  font-size: 19px;

}

.elementos_grupo p{
  text-align: center;
  
}

.elementos_grupo h5{
  text-align: center;
  font-weight: bold;

}


.elementos_grupo{
  background-color: #eee9e9;
  width: 300px;
  padding: 5px;
  
}


.chat-popup_grupos {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;  
  z-index: 9;
}

.dropup p{
  text-align: center;
  position: absolute;

}

.feed_messages{
  text-align: center;
}

.led-box {
  height: 3px;
  width: 35%;
  margin: 1px 0;
  float: left;
}


.led-green {
  margin: 0 auto;
  width: 14px;
  height: 14px;
  background-color: #ABFF00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
}

.led-yellow {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #FF0;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 12px;
  -webkit-animation: blinkYellow 1s infinite;
  -moz-animation: blinkYellow 1s infinite;
  -ms-animation: blinkYellow 1s infinite;
  -o-animation: blinkYellow 1s infinite;
  animation: blinkYellow 1s infinite;
}

@-webkit-keyframes blinkYellow {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { background-color: #FF0; }
}
@-moz-keyframes blinkYellow {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { background-color: #FF0; }
}
@-ms-keyframes blinkYellow {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { background-color: #FF0; }
}
@-o-keyframes blinkYellow {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { background-color: #FF0; }
}
@keyframes blinkYellow {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { background-color: #FF0; }
}


.submissoes_alunos h5{
  text-align: center;
  font-weight: bold;
  position: relative;
  top:30px;

}

.submissoes_alunos p{
  text-align: center;
  position: relative;
  top: 30px;
  cursor: pointer;
}

.modal-content button{
  position: absolute;
  top: 200px;
}

#btn_fechar{
  margin-left: 340px;
}

#btn_escolha{
  margin-left: 250px;

}

#print{
  text-align: center;
  font-weight: bold;
  margin: 0 auto; 
  display:block; 

}




.box{
  display: none;
  width: 143px;
  height: 75px;
  background-color:  #636b6f26;
  position: absolute;
  left: 80px;
 
  z-index: 999;
 
  
 
 
 }


  .box.arrow-left:after {
    content: " ";
    position: absolute;
    left: -15px;
    top: 15px;
    border-top: 15px solid transparent;
    border-right: 15px solid #636b6f26;
    border-left: none;
    border-bottom: 15px solid transparent;
  }


.drop a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.drop a:hover {background-color: #ddd;}

.dropdown-item1 {
  width: 100%;
  position: relative;
  border: none;
 
}

.dropdown-item1:hover, .dropdown a:hover {
  background: lightgray;
  text-decoration: none;
}

.item-link {
  padding: 0.75rem 5px 0.75rem 5px;
}


.tableGrupos1{
  position: relative;
  border-collapse: collapse;
  width: 100%;
  margin: auto;  
  text-align: center;
}

.tableGrupos1 tr:nth-child(even){background-color: #f2f2f2}

.tableGrupos1 td {
  padding: 8px;
  border-bottom: 1px solid grey;
}

.tableGrupos1 a {
  cursor: pointer;
  text-decoration: none;
}

.tableGrupos1 th {
  background-color: #acc;
  color: initial;
  padding: 8px;
  text-align: center;
  z-index: -999;
}


.modal_msg {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 80px;
  border: 1px solid #888;
  width: 30%;
}

/* The Close Button */
.closef {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -20px;
}

.closef:hover,
.closef:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.modal-content a{
  position: relative;
  left: 360px;
  top: -40px;
  cursor: pointer;

}
