body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: #636b6f;
  background-color: #f5f8fa;
}

.active {
  background: #acc;
}

.navbar-default {
  background-color: #acc;
}

.logout_style{
  display: block;
  margin-top: 13px;
}

.nav_icons{
  display: block;
  margin-left: 10%;
}

.nav_icons div{
  padding: 0.5% 1.5% 0.5% 1.5%;
  border-bottom: 1.5px solid #acc;
  display: inline-block;
}

.nav_icons div img, .nav_icons_back div img{
  width: 23px;
}

.nav_icons div:hover{
  cursor: pointer;
  background-color: #acc;
}

.nav_icons_back {
  display: flex;
  margin-top: 10px;
  margin-bottom: 40px;
  justify-content: center;
  color: initial;
  width: 100%;
}

.nav_icons_back div{
  margin: 1px;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  padding: 5px;
  height: 35px;
}

.nav_icons_back div:hover{
  background: white;
  cursor: pointer;
  color: initial;
}

.homeDocente {
  position: absolute;
  display:grid;
  grid-template-columns: auto auto;
  grid-gap: 20px 20px;
  margin: 30px;
  left: 5%;
}

.divDisciplinas{
  width: auto;
  background: #eee9e9;
  height: auto;
  position: relative;
  padding: 5px;
}

.disciplina{
  width: auto;
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px 20px;
  margin: 15px;
}

.disciplina div{
  height: auto;
  background: #acc;
  padding: 20px;
  text-align: center;
  opacity: 0.8;
}

.flex-projetos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: #E9E0DF;
}

.divGrupos{
  width: auto;
  background: #eee9e9;
  height: auto;
  position: relative;
  padding: 5px;
}

.grupo{
  width: auto;
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px 20px;
  margin: 15px
}

.grupo div{
  height: auto;
  background: #acc;
  padding: 15px;
  text-align: center;
  opacity: 0.8;
}

li a:hover {
  color: black;
  text-decoration: underline;
}

.model-content {
  width: 400px;
  height: auto;
  background-color: white;
  border: 2px solid #acc;
  border-radius: 4px;
  align-self: center;
  text-align: center;
  margin: auto;
  padding: 20px 0 20px 0;
  display: none;
  position: absolute;
}

.model-content h4 {
  display: inline;
}


input{
  width: 90%;
  display: block;
  margin: 15px auto;
}

.close{
  position: relative;
  display: inline;
  right: 14px;
  top: -14px;
  font-size: 30px; 
  cursor: pointer;
}

.container-flex {
  display: flex;
  margin: 0;
  margin-top: -22px;
}

.left-pane-bg {
  position: absolute;
  background-color: #acc;
  width: 25%;
  height: 100%;  
  z-index: -1;
}

.flex-left {
  flex: 25%;
  background-color: #acc;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  align-items: center;
}

.flex-right {
  display: flex;
  flex-direction: column;
  flex: 75%;
  justify-content: center;
  padding-top: 3rem;
  padding: 3rem 10px 0 10px;
}

.flex-left .back {
  margin-bottom: 25px;
  font-size: 16px;
}

.flex-right-header {
  display: flex;
  flex: 100%;
}

.flex-right h2, .flex-right-header h2 {
  align-self: flex-start;
  padding-bottom: 10px;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  margin-left: 25px;
  border-bottom: 3px solid #acc;
}

.flex-right-header h3 {
  flex: 50%;
  text-align: right;
  margin: 0;
  margin-right: 25px;
  font-size: 18px;
}

.flex-right-header h3 * {
  color: #acc;
}

.flex-right-header h3 a:hover {
  color: #636b6f;
  text-decoration: underline;
}

.flex-right-container {
  align-self: center;
  display: flex;
  flex-direction: column;
  flex: 100%;
  background: #eee9e9;
  width: 100%;
}

.flex-right-container h4 {
  align-self: center;
  padding-top: 0px;
}

.flex-right-footer {
  display: flex;
  align-content: flex-end;
  margin-right: 50px;
}

.flex-right-footer .footer-icon{
  margin-right: 70px;
}

.projeto {
  display: flex;
  flex: 1;
  border: 3px ridge #acc;
  margin: 10px 20px 10px 20px;
  min-height: 120px;
  text-align: left;
  color: #222;
  padding: 0 10px 10px 10px;
  flex-direction: column;
}

.flex-right-footer {
  display: flex;
  align-content: flex-end;
  margin-right: 50px;
}

.projeto {
  display: flex;
  flex: 1;
  flex-direction: column;
  border: 3px ridge #9b9b9b;
  margin: 10px 20px 10px 20px;
  height: 120px;
  max-height: 120px;
  width: 80%;
  text-align: left;
  color: #222;
  padding: 0 10px 10px 10px;
}

.projeto h4 {
  padding: 0;
  text-align: center;
}

.projeto p {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.projetosLabels {
  font-weight: bold;
}

.projetosLabels ~ a:hover{
  color: black;
  text-decoration: underline;
}

#dropAdd {
	position: absolute;
	background-color: white;
	box-shadow: 0px 0px 4px 1px #00000052;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-top: 90px;
}

#btnAdd {
	padding-left: 15px ;
	padding-right: 15px ;
	padding-top: 5px ;
	padding-bottom:6px ;
	border-radius: 30px;
	border: none;
  color: initial;
}

#btnAdd img {
  height: 18px;
  width: auto;
}

#btnAdd span{
	padding-left: 8px;
	display: inline-block;
	vertical-align: middle;
	font-size: 15px;
}

#dropAdd span{
	display: block;
	padding-right: 40px;
	padding-left: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
  color: initial;
}

#dropAdd span:hover{
	cursor: pointer;
	background-color: #e5e5e5;
}

.nav_disciplina{
  display: flex;
  justify-content: space-around;
}

.nav_disciplina div{
  padding: 0.5% 1.5% 0.5% 1.5%;
  border-bottom: 1.5px solid #acc;
  border-right: 1.5px solid #acc;
  flex: 100%;
}

.nav_disciplina div:hover{
  background: #acc;
  cursor: pointer;
}

.showGrupos {
  align-self: flex-end;
  margin-top: auto;
  border-color: #acc;
  border-radius: 2px;
  border-style: solid;
}

.showGrupos:hover {
  background-color: #acc;
  border-color: #9b9b9b;
}

.flex-left-links {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.flex-left-icon {
  width: 30px;
  margin-right: 10px;
}

.addBtn-row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.addBtn {
  align-self: center;
  color: #222;
  border-color: #acc;
  border-radius: 2px;
  border-style: solid;
  padding: 5px 20px 5px 20px;
  margin: 0 10px;
}

.addBtn:hover {
  background-color: #acc;
}

#grupos {
  padding: 10px;
}

#tableShowGrupos {
  border: 1px solid grey;
}

#tableShowGrupos i {
  cursor: pointer;
}

@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

.botao_projetos{
  align-self: center;
  position: fixed;
  left: 100px;
  top: 110px;
  z-index: 0;
  color: #245269;
  border-radius: 20px;
  border-style: solid;
  padding: 8px 40px 5px 40px;
}

.botao_projetos:hover {
  background-color: white;
  color: #000;
}

.popup{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.popupadd{
  width: 200px;
  height: 150px;
  background-color: white;
  opacity: 1;
  border-radius: 4px;
  text-align: center;
  position: relative;
  top: 130px;
  left: 90px;
  z-index: auto;
  opacity: 0.6;
}

.footer-icon {
  background-color: #555;
  color: white;
  padding: 14px 14px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
}

.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;  
  z-index: 9;
}

.forumDuvidas_btn{
  top:5px;
}

.forumDuvidas_btn:hover{
  cursor: pointer;
}

.forumDuvidas {
  padding: 10px;
}

.tableGrupos{
  position: relative;
  border-collapse: collapse;
  width: 100%;
  margin: auto;  
  text-align: center;
}

.tableGrupos tr:nth-child(even){background-color: #f2f2f2}

.tableGrupos td {
  padding: 8px;
  border-bottom: 1px solid grey;
}

.tableGrupos a {
  cursor: pointer;
  text-decoration: underline;
}

.tableGrupos th {
  background-color: #acc;
  color: initial;
  padding: 8px;
  text-align: center;
}

.breadcrums {
  color: initial;
  cursor: pointer;
}

.div_button{
  /*! height: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
}

#add_button{
  width: auto;
  height: 33px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: #616161;
  background-color: #f5f8fa;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-bottom: 10px;
}

#add_button:hover {
  background-color: #acc;
  box-shadow: 0px 15px 20px rgba(170, 204, 204, 0.36);
  transform: translateY(-7px);
}

#forum {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#forum p {
  width: 100%;
}

#forum .div_button {
  align-self: center;
}

#topicoModal {
  z-index: 2;
  position: absolute;
  margin: auto;
  align-self: center;
}