.registo-active {
    background-color: #339989 !important;
}

#registoProfessor {
    margin-bottom: 15px;
    text-align: center;
}

#registoAluno {
    margin-bottom: 15px;
    text-align: center;
}

#formProfessor {
    display: none;
}

#registoProfessor:hover {
    opacity: 50%;
    cursor: pointer;
}

.registo-active#registoProfessor:hover {
    opacity: 100%;
    cursor: default;
}

#registoAluno:hover {
    opacity: 50%;
    cursor: pointer;
}

.registo-active#registoAluno:hover {
    opacity: 100%;
    cursor: default;
}

.login-text {
    color: black;
}

.position-ref {
    position: relative;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.top-right {
    position: fixed;
    right: 130px;
    top: 22px;
}

.links > a {
    color: #636b6f;
    padding: 0 35px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}